# API Server Configuration
PORT=3000
HOST=0.0.0.0
APP_ENV=development
RUST_LOG=info,rustom=debug,tower_http=debug
DOMAIN_NAME=http://localhost:3000

# Database Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rustom_development
POSTGRES_TEST_DB=rustom_test
# this DATABASE_URL is for sqlx-cli only
DATABASE_URL=postgres://postgres:postgres@localhost:5432/rustom_development

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# RabbitMQ Configuration
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=%2f

# JWT Configuration
JWT_SECRET=super_secret_jwt_key_that_is_long_enough_to_be_secure_12345
JWT_EXPIRATION_SECONDS=86400

# Cache Configuration
API_CACHE_TTL=3600

# API Security and Encryption Configuration (openssl rand -hex 32)
API_PAYLOAD_ENCRYPTION_ENABLED=true
API_GATEWAY_KEY=
API_GATEWAY_ERROR_MESSAGE="Invalid User API Gateway Key"
API_ENCRYPTION_KEY=
API_RATE_LIMIT=5

# Slack Configuration
SLACK_ERROR_WEBHOOK_URL=
SLACK_ERROR_CHANNEL_ID=
SLACK_REGISTRATION_WEBHOOK_URL=
SLACK_REGISTRATION_CHANNEL_ID=
